<div class="col-md-12">
    <div class="x_panel">
        Los elementos marcados con el icono <i class="text-danger fa fa-lock"></i> no se pueden eliminar, ya que cuentan con elementos dependientes.
        Cuando realice eliminaciones en grupo, tenga en cuenta que ninguno de los elementos bloqueados esté marcado.
    </div>
</div>