{% extends "default/bars.html.twig" %}

{% block contenpage %}
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h5>
					Entidades
				</h5>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>
							Lista de entidades</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li>
								<a href="{{ path('sistema_entidad_nuevo') }}" class="btn text-white btn-primary">AÑADIR</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="row">
							<table id="example" class="display table table-striped table-bordered dataminetables">
								<thead>
									<th>No.</th>
									<th>Nombre</th>
								</thead>
								<tbody>
									{% for entidad in sistema_entidades  %}
										<tr>
											<td>{{ loop.index }}</td>
											<td>{{ entidad.nombre }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
